body {
  background-color: #e9e1c0; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

h1 {
  font-size: 80px;
  font-family: "neulis-sans", sans-serif;
  font-weight: 400;
  font-style: normal; 
  color: #2c5dda; 
  margin-bottom: 60px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto; 
  margin-bottom: -60px;
}

p {
  color: #091f59;
  font-size: 16px;
  font-family: "neulis-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8;
  text-align: left; 
  margin-bottom: 30px; 
}

.form-link {
  color: #091f59;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.form-link:hover {
  color: #091f59;
  text-decoration: underline;
}

.evil-eye {
  position: relative;
  width: 700px; 
  height: 700px; 
}

.outer-circle, .middle-circle, .inner-circle, .core-circle {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  transition: filter 0.3s ease;
}

.outer-circle {
  width: 525px; 
  height: 525px; 
  background: blue;
}

.middle-circle {
  width: 350px; 
  height: 350px; 
  background: white;
}

.inner-circle {
  width: 210px; 
  height: 210px; 
  background: lightblue;
}

.core-circle {
  width: 105px; 
  height: 105px; 
  background: black;
}

.outer-circle:hover {
  filter: blur(3px); 
}

.middle-circle:hover {
  filter: blur(3px); 
}

.inner-circle:hover {
  filter: blur(3px); 
}

.core-circle:hover {
  filter: blur(3px); 
}

.text-display {
  display: none; /* Start with hidden text */
  position: absolute;
  top: 120%;
  left: 72%;
  width: 300px;
  padding: 10px;
  color: #091f59;
  font-size: 22px;
  font-family: "neulis-sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.nav {
  position: absolute;
  top: 20px;
  left: -5px;
  width: 100%;
  display: flex;
  padding: 0 40px;
  box-sizing: border-box;
}

.nav-link {
  background-color: #0066b9; 
  color: #ffffff; 
  font-size: 17px;
  font-family: "neulis-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.nav-link:hover {
  background-color: #ffffff; 
  color: #0066b9; 
  box-shadow: 0 0 15px #0066b9; 
}
